/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header styles */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

header h1 {
  margin: 0;
  font-size: 36px;
}

/* Navigation styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #666;
  padding: 10px 20px;
  margin-bottom: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  margin: 0 10px;
}

/* Table styles */
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th,
td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
}

th {
  background-color: #f5f5f5;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Form styles */
form {
  margin-bottom: 20px;
}

form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

form input,
form select {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}

/* Button styles */
button {
  background-color: #FF5733 ;
  border-radius: 8px;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

button.delete-button {
  background-color: #C70039;
  border-radius: 8px;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}
button.entry-button {
  background-color: #FFC300;
  border-radius: 8px;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}


button a {
  color: #fff;
  text-decoration: none;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
